/* CORPO BANNER PÁGINA PRINCIPAL */
.corpo {
  width: 100%;

  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
  padding-top: 20px;
}

.corpo__info {
  padding-bottom: 230px;
}

.corpo__titulo {
  max-width: 600px;
  font-weight: 300;
  font-size: 65px;
}

.corpo__subtitulo--spanf {
  font-size: 65px;
  color: black;
  font-weight: 300;
}

.corpo__subtitulo .corpo__subtitulo--span {
  color: #036635;
  font-size: 90px;
}

.corpo__info p {
  max-width: 600px;
}

.corpo__button {
  background-color: #036635;
  padding: 10px 35px;
  margin-top: 15px;
  color: white;
  border: none;
  border-radius: 50px;
  filter: drop-shadow(3px 3px #034a27);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.corpo__button:hover {
  filter: drop-shadow(-4px -4px 0 #034a27);
}


.corpo__green--absoluto img {
  animation: floatAnimation 4s infinite ease-in-out alternate;
  
}

@keyframes floatAnimation {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(20px) translateY(-20px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}