.delivery h1 {
    text-align: center;
    padding: 50px;
    font-size: 45px;
    font-weight: 400;
    color: #036635;
}


.img__delivery {
    display: flex;
    justify-content: center;
    gap: 6em;
    flex-wrap: wrap;
}
.img__delivery img {
    width: 150px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.img__delivery img:hover {
    transform: translateY(-8px);
    cursor: pointer;
}