.footer {
    background-color: #026F43;    
    margin-top: 50px;
    padding-top: 80px; 
    padding-bottom: 80px;   
}

.img__footer img {
    width: 150px; 
}

.container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1225px;  
    flex-wrap: wrap;   
}


.footer__enderecos {
    color: aliceblue;
}

.form span {
    color: white;
}

.form input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.form input:focus {
    outline: none;
}
.form textarea {
    padding: 10px;
    border-radius: 3px;
    border: none;
    margin-bottom: 10px;
}

.form textarea:focus {
    outline: none;
}

.footer__formulario {
    display: flex;
    flex-direction: column;
}

.form div {
    display: flex;
    flex-direction: column;
}

.footer__form--button {
    padding: 15px 25px;
    background: none;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    transition: transform .5s ease-in-out;
    margin-top: 5px;
}

.footer__form--button:hover {
    transform: translateY(-5px);
}


.creditos {
    text-align: center;
    color: white;
}

@media (max-width:823px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .img__footer, .footer__enderecos, .footer__formulario {
        margin: 20px 0;
        max-width: 80%;
    }
}