* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  width: 100%;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 25px 100px 0 100px;
  flex-wrap: wrap;
}

nav .logo img {
  width: 80px;
  border-radius: 100px;
  cursor: pointer;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

nav li {
  margin: 0 5px;
}

nav ul li a {
  text-decoration: none;
  color: #006241;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 12px;
  letter-spacing: 1px;
  position: relative; 
  transition: all .3s ease-in-out;
}

/*HOVER LINK MENU*/

a::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -50%;
  transform: translateX(0) scaleX(0);
  transform-origin: center;
  width: 0;
  height: 2px;
  background-color: #036635; 
  opacity: 0; 
  transition: transform 0.3s, opacity 0.3s; 
}

a:hover::after {
  transform: translateX(-50%) scaleX(.7);
  width: 100%; 
  opacity: 1;
}



nav .menu-btn i {
  cursor: pointer;
  color: #006241;
  display: none;
}

@media (max-width:920px) {
  nav .menu-btn i {
    display: block;

  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all .3s ease-in-out;
  }
  nav {
    padding: 10px 30px 0 30px;
  }
  nav ul.open{ /*tag usada para o JS*/
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 50px 0;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: #036635;
    color: white;
    border-radius: 3px;
  }
  a:hover::after {
    opacity: 0;
  }
}


.lista__link--menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.img__menu {
  width: 30px;
}