

.header__centro {
    display: flex;
    max-width: 1100px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  
  .logo img {
    height: 90px;
  }
  
  .menu a {
    color: rgb(48, 48, 48);
    text-decoration: none;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .menu__social-media {
    display: flex;
    justify-content: flex-end;
  }
  
  .menu__social-media img {
    width: 28px;
  }
  
  .menu__navegacao {
    display: flex;
    justify-content: flex-end;
  }

  .menu__navegacao a:hover {
        transform: translateY(-2px);

  }
  
  /* Estilos para os links */
  a {
    color: #000; /* Cor padrão dos links */
    text-decoration: none; /* Remover sublinhado padrão dos links */
    position: relative; /* Adicionar posição relativa para facilitar o posicionamento da linha */
  }
  
  /* Estilos para a linha inferior no hover */
  a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 0;
    height: 2px;
    background-color: #036635; /* Cor da linha */
    opacity: 0; /* Inicialmente, a linha é invisível */
    transition: transform 0.3s, opacity 0.3s; /* Transições suaves para a animação */
  }
  
  /* Estilos para o hover */
  a:hover::after {
    transform: translateX(-50%) scaleX(1);
    width: 100%; /* Altera a largura da linha para 100% */
    opacity: 1; /* Torna a linha visível no hover */
  }
  
  /* Estilos para o link ativo */
  a.active::after {
    width: 100%; /* Largura total para o link ativo */
  }

/*RESPONSIVIDADE CELULAR*/
@media (max-width: 386px) {
  .header__centro {
    justify-content: space-around;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu__social-media img {
    width: 25px;
  }

  .logo img {
    height: 100px;
  }

  .menu__navegacao {
    flex-direction: column;
    align-items: end;
    font-size: 12px;
  }
  .header {
    height: 60vh;
  }

}




/*RESPONSIVIDADE TABLET*/
  @media (min-width: 387px) and (max-width: 768px) {
    .header__centro {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 20px;
    }
    .menu__social-media {
      justify-content: center;
      padding-bottom: 10px;
    }
    
  }

  @media (min-width: 387px) and (max-width: 490px) {
    .menu__navegacao {
      flex-direction: column;
      align-items: end;
      font-size: 12px;
    }
  }